<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.95)), url(../../../assets/img/comp.jpg);">
  <div class="container">
    <h1>Experience</h1>
    <br>
    <br>
    <div class="experience">
      <h2>fev. 2019 - jul. 2019 : Développeur Full-Stack Javascript Kony  -  Chubb France</h2>
      <br>
      <h3>Contexte</h3>
      <br>
      <p>En 2015, la société Chubb France, leader mondial dans la sécurité incendie, lance le projet Convergence.
        Ce projet est destiné à simplifier les processus de gestion informatique en développant de nouveaux outils informatiques
        parmi lesquels figurent les logiciels UniTech et UniCom, respectivement pour les techniciens et les commerciaux.
        Au sein de l’équipe de développeurs du projet Convergence, développement de l’application UniCom avec Kony Visualizer et SQLite.</p>
        <br>
        <h3>Domaine d'intervention</h3>
        <br>
        <ul>
          <li>Maintenance de l'application UniCom</li>
          <li>Intégration d'évolutions à l'application UniCom</li>
        </ul>
        <br>
        <h3>Environnement technique</h3>
        <br>
        <div class="flex around">
          <img src="../../../assets/img/logo/windows.png" alt="" width="50" height="50">
          <a href="https://www.kony.com/">
            <img src="../../../assets/img/logo/kony.png" alt="" width="100" height="40">
          </a>
          <img src="../../../assets/img/logo/js.png" alt="" width="50" height="50">
          <img src="../../../assets/img/logo/sqlite.jpg" alt="" width="50" height="50">
          <img src="../../../assets/img/logo/jira.png" alt="" width="50" height="50">
          <img src="../../../assets/img/logo/git.png" alt="" width="50" height="50">
        </div>
        <br>
        <h3>Résultats obtenus</h3>
        <br>
        <ul>
          <li>Livraison d'une version d'UniCom recettable</li>
          <br>
          <li>Correction de bugs</li>
          <ul>
            <li>Création de devis</li>
            <li>Ajout d'articles</li>
            <li>Calcul de la TVA</li>
          </ul>
          <br>
          <li>Evolutions apportées</li>
          <ul>
            <li>Gestion des erreurs pour les Web-Services</li>
            <li>Ajout de critères de recherche pour les sites des clients</li>
          </ul>
          <br>
          <li>Amélioration de l'environnement de travail</li>
          <ul>
            <li>Ajout d'un traceur de fonctions</li>
            <li>Implémentation d'une fonctionnalité de tests automatiques</li>
          </ul>
        </ul>
    </div>

    <div class="experience">
      <h2>fev. 2019 - jul. 2019 : Développeur Full-Stack Javascript Leaflet  -  Galigéo</h2>
      <br>
      <h3>Contexte</h3>
      <br>
      <p>Galigéo est une société d’édition de logiciels française, leader européen des solutions cartographiques
        d’aide à la décision ou au pilotage. Les solutions Galigéo marient la Business Intelligence et les technologies
        de l’information géographique afin de permettre la visualisation, l’interrogation et l’analyse des mêmes informations
        métiers au travers de cartes interactives issues de Systèmes d’Information Géographique (SIG) et de rapports de
        Business Intelligence (BI). Au sein de l’équipe R&D de Galigéo, maintenance de l’application Galigéo Enterprise,
        partie cliente des solutions Galigéo.</p>
        <br>
        <h3>Domaine d'intervention</h3>
        <br>
        <ul>
          <li>Maintenance de l'application UniCom</li>
          <li>Intégration d'évolutions à l'application UniCom</li>
        </ul>
        <br>
        <h3>Environnement technique</h3>
        <br>
        <div class="flex around">
          <img src="../../../assets/img/logo/windows.png" alt="" width="50" height="50">
          <a href="https://www.kony.com/">
            <img src="../../../assets/img/logo/kony.png" alt="" width="100" height="40">
          </a>
          <img src="../../../assets/img/logo/js.png" alt="" width="50" height="50">
          <img src="../../../assets/img/logo/sqlite.jpg" alt="" width="50" height="50">
          <img src="../../../assets/img/logo/jira.png" alt="" width="50" height="50">
          <img src="../../../assets/img/logo/git.png" alt="" width="50" height="50">
        </div>
        <br>
        <h3>Résultats obtenus</h3>
        <br>
        <ul>
          <li>Livraison d'une version d'UniCom recettable</li>
          <br>
          <li>Correction de bugs</li>
          <ul>
            <li>Création de devis</li>
            <li>Ajout d'articles</li>
            <li>Calcul de la TVA</li>
          </ul>
          <br>
          <li>Evolutions apportées</li>
          <ul>
            <li>Gestion des erreurs pour les Web-Services</li>
            <li>Ajout de critères de recherche pour les sites des clients</li>
          </ul>
          <br>
          <li>Amélioration de l'environnement de travail</li>
          <ul>
            <li>Ajout d'un traceur de fonctions</li>
            <li>Implémentation d'une fonctionnalité de tests automatiques</li>
          </ul>
        </ul>
    </div>

  </div>
</div>
