<div class="">
  <img src="assets/img/portrait.jpg" alt="Moi en maillot de traître :D" width="152" height="204">
  <p>Bonjour,</p>
  <p>Je m'appelle Matthieu Seynaeve, j'ai {{ age }} ans. Je suis développeur web depuis maintenant {{ timedev }} ans</p>
  <p>Après des études de géographie, j'ai commencé ma carrière en tant que cartographe chez GrDF. Très tôt, j'ai eu conscience que le métier de cartographe était entrain d'évoluer.
  La demande en compétences informatiques était croissante. Dorénavant, en plus de notre travail de création et de mise à jour de documents cartographiques, il fallait savoir
gérér une base de données, savoir coder et même, dans certains cas, gérér le site Internet de son employeur ! C'est dans ce contexte que j'ai commencé à programmer, d'abord sur des
sites comme <a href="https://openclassrooms.com/fr/">OpenClassRooms</a> ou encore <a href="https://www.codecademy.com/">Codecademy</a> qui m'ont permis de débuter</p>

<p>Pour aller plus loin, et de découvrir la réalité du métier de développeur Full-Stack ainsi que toutes les étapes de la conception d'un site Internet ou d'une application,
j'ai décidé de faire <a href="https://www.lewagon.com/fr">Le Wagon. Cette formation m'a permis de franchir un cap en tant que développeur et m'a ouvert les portes de ce monde
en quelque-sorte</a></p>
</div>
