<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)), url(../../../assets/img/clowns.jpg);">
  <div class="container">
    <h1>Compétences</h1>
    <br>
    <br>
    <h2>Langages</h2>
    <br>
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/img/logo/html.png" alt="HTML5" width="150" height="150">
      </div>
      <div class="col-3">
        <img src="../../../assets/img/logo/css.png" alt="CSS3" width="150" height="150">
      </div>
      <div class="col-3">
        <img src="../../../assets/img/logo/js.png" alt="JavaScript" width="150" height="150">
      </div>
      <div class="col-3">
        <img src="../../../assets/img/logo/ruby.jpg" alt="Ruby" width="150" height="150">
      </div>
    </div>
    <br>
    <br>
    <h2>Serveurs applicatifs</h2>
    <br>
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/img/logo/node.png" alt="Node JS" width="150" height="150">
      </div>
    </div>
    <br>
    <br>
    <h2>Frameworks</h2>
    <br>
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/img/logo/express.png" alt="Express JS" width="150" height="150">
      </div>
      <div class="col-3">
        <img src="../../../assets/img/logo/angular.png" alt="Angular" width="150" height="150">
      </div>
      <div class="col-3">
        <img src="../../../assets/img/logo/rails.png" alt="Ruby on Rails" width="150" height="150">
      </div>
      <div class="col-3">
        <img src="../../../assets/img/logo/bootstrap.png" alt="Bootstrap" width="150" height="150">
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/img/logo/materialize.png" alt="Materialize" width="150" height="150">
      </div>
    </div>
    <br>
    <br>
    <h2>Bases de données</h2>
    <br>
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/img/logo/postgre.png" alt="PostgreSQL" width="150" height="150">
      </div>
      <div class="col-3">
        <img src="../../../assets/img/logo/mongo.png" alt="Mongo DB" width="150" height="150">
      </div>
      <div class="col-3">
        <img src="../../../assets/img/logo/sqlite.jpg" alt="SQLite" width="150" height="150">
      </div>
    </div>
    <br>
    <br>
    <h2>Versionning</h2>
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/img/logo/git.png" alt="Git" width="150" height="150">
      </div>
    </div>
    <br>
    <br>
    <h2>SIG</h2>
    <div class="row">
      <div class="col-3">
        <img src="../../../assets/img/logo/arcgis.jpg" alt="ArcGIS" width="150" height="150">
      </div>
      <div class="col-3">
        <img src="../../../assets/img/logo/qgis.jpg" alt="QGIS" width="150" height="150">
      </div>
      <div class="col-3">
        <img src="../../../assets/img/logo/leaflet.jpg" alt="Leaflet JS" width="150" height="150">
      </div>
    </div>
  </div>
</div>
