/* DEPENDANCES */
@import "~@fortawesome/fontawesome-free/css/all.css";
/* BUTTONS */
@import "./plugins/wagon-components/button.css";
/* BANNERS */
@import "./plugins/wagon-components/banner.css";
/* CARDS */
@import "./plugins/wagon-components/card-product.css";
@import "./plugins/wagon-components/card-trip.css";
/* AVATARS */
@import "./plugins/wagon-components/avatar.css";
/* FORMS */
@import "./plugins/darkcode-components/forms.css";


/* FONTS */

h1, h2, h3, h4, h5, h6 {
    font-family: 'Special Elite', cursive;
}

a {
  font-family: 'Gloria Hallelujah', cursive;
  cursor: pointer;
}

p, li {
  /*font-family: 'Signika', sans-serif;*/
  font-family: 'Merriweather', serif;
}

.banner {
  min-height: 98vh;
}




/* HEADERS */
h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

/* FLEXBOX (en attendant Flex-Layout :D ) */
.flex {
  display: flex;
}

.around {
  justify-content: space-around;
}
