<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.9)), url(../../../assets/img/educ.jpg);">
  <div class="container">
    <h1>Education</h1>
    <br>
    <br>
    <h2>2017 : Formation Développeur Full-Stack  -  Bootcamp Le Wagon</h2>
    <br>
    <p>Changez de vie, apprenez à coder. Le Wagon est la meilleure formation Développeur Web d'Europe en Ruby on Rails et Javascript.</p>
    <a href="https://www.lewagon.com/fr/program" target="_blank">En savoir plus</a>
    <br>
    <br>
    <h2>2012 - 2014 : Master de Géopolitique  -  Université de Paris 8</h2>
    <br>
    <p>Ce Master a pour but de former de véritables spécialistes de l'analyse géopolitique par une préparation pluridisciplinaire
      théorique et pratique sérieuse en vue d'accéder à des emplois dans les domaines suivants : médias, entreprises, O.N.G., ambassades,
      ministères, collectivités territoriales, concours administratifs, etc.</p>
    <a href="http://www.univ-paris8.fr/Master-Geopolitique-Territoires-et-enjeux-de-pouvoir" target="_blank">En savoir plus</a>
    <br>
    <br>
    <h2>2009 - 2012 : Licence de Géographie  -  Université de Cergy-Pontoise</h2>
    <br>
    <p>La licence de Géographie-Aménagement porte sur les grands enjeux contemporains de nos territoires et de nos sociétés :
      changement climatique, risques, environnement et développement durable, mondialisation, accroissement des échanges,
      des mobilités et des flux numériques, métropolisation et question urbaine,
      aménagement des territoires et urbanisme, tensions géopolitiques, développement local, tourisme et patrimoine, etc. </p>
    <a href="https://www.u-cergy.fr/fr/formations/schema-des-formations/licence-lmd-XA/sciences-humaines-et-sociales-SHS/licence-geographie-et-amenagement-program-geographie-et-amenagement.html" target="_blank">En savoir plus</a>
  </div>
</div>
