<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(../../../assets/img/fond.jpg);">
  <div class="container">
    <h1>Contact</h1>

    <div class="contact">
      <a class="contact-btn" href="mailto:matthieu.seynaeve@free.fr">
        <i class="fas fa-envelope"></i>
      </a>
      <a class="contact-btn" href="https://fr.linkedin.com/in/matthieu-seynaeve-27438852" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>
      <a class="contact-btn" href="fr.viadeo.com/fr/profile/matthieu.seynaeve" target="_blank">
        <i class="fab fa-viadeo"></i>
      </a>
      <a class="contact-btn" href="https://www.facebook.com/laurent.foutray" target="_blank">
        <i class="fab fa-facebook"></i>
      </a>
    </div>
  </div>
</div>
