<div class="">
  <img src="assets/img/portrait.jpg" alt="Moi en maillot de traître :D" width="152" height="204">
  <h1>Matthieu Seynaeve</h1>
  <ul>
    <li>
      <a href="#">Accueil</a>
    </li>
    <li>
      <a href="#">A propos</a>
    </li>
    <li>
      <a href="#">Compétences</a>
    </li>
    <li>
      <a href="#">Education</a>
    </li>
    <li>
      <a href="#">Expérience</a>
    </li>
    <li>
      <a href="#">Projets</a>
    </li>
    <li>
      <a href="#">Contact</a>
    </li>
  </ul>
</div>
